<!-- =========================================================
  SECCIÓN: COTIZAR HOME
========================================================= -->
<section class="cotizar-home-section">
  <div class="container">
    <div class="cotizar-home-box">

      <div class="cotizar-home-content">
        <h2 class="cotizar-home-title">
          De forma simple y en pocos pasos vas a poder cotizar
          el sistema de seguridad ideal para tu hogar
        </h2>

        <a href="pages/contacto.html" class="hero-form-submit cotizar-home-btn">
          Cotizá tu alarma
        </a>
      </div>

      <div class="cotizar-home-image-wrap">
        <img src="" alt="Kit de alarma SmartHome para el hogar"
          class="cotizar-home-image">
      </div>

    </div>
  </div>
</section>
