<section class="en-construccion">
  <div class="container">
    <div class="en-construccion__card">
      <div class="en-construccion__icon" aria-hidden="true">
        <i class="bi bi-tools"></i>
      </div>

      <h1 class="en-construccion__title">Pagina en construccion</h1>
      <p class="en-construccion__text">
        Estamos preparando esta seccion para que pronto puedas verla con todo el contenido disponible.
      </p>

      <a class="en-construccion__cta" href="index.html">Volver al inicio</a>
    </div>
  </div>
</section>


